/* ============== COMMON STYLES ============== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: "Inter", sans-serif;
    background: #0e1823;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ============== /COMMON STYLES ============== */

/* ============== MOBILE HEADER ============== */

.page-header {
    max-width: 335px;
    margin: auto 20px;
   position: absolute;
   top: 20px;
   left: 0;
    right: 0;
    border: 1px solid rgb(251, 251, 251);
    border-radius: 8px;
    background: rgb(251, 251, 251);
}

.menu-header {
    display: none;
}

.header-social-list {
    display: none;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    padding: 12px 20px 13px;
}

.logo-header {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
     color: #1b414b;
}

.mobile-menu-open-btn {
    display: flex;
    padding: 7px 0;   
    background: none;
    border: #ffff;
    
}

.mobile-menu-open-btn-icon {
    stroke-width: 2.50px;
    stroke: #1b414b;
}

/* ============== /MOBILE HEADER ============== */

/* ============== MOBILE HERO ============== */

.hero {
    max-width: 375px;
    background-image: linear-gradient(to top,rgba(17, 19, 31, 0.8),
        rgba(17, 19, 31, 0.31),
        rgba(17, 19, 31, 0)),
    url(../images/hero/hero-mob1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 260px;
    padding-bottom: 286px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(to top,rgba(17, 19, 31, 0.8), rgba(17, 19, 31, 0.31), rgba(17, 19, 31, 0)),
        url(../images/hero/hero-mob@2x.jpg);
    }
}

.conteiner-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
}

.main-title {
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 24px;
        line-height: 1;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fbfbfb;
}

.hero-text {
        font-weight: 300;
        font-size: 12px;
        height: 56px;
        line-height: 1.16;
        text-align: center;
        color: rgba(251, 251, 251, 0.7);
        margin-bottom: 38px;
}

.hero-link-send {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 10px;
        border-radius: 15px;
            padding: 14px 32px;
            width: 141px;
            height: 46px;
    background: #1b414b;
}

.hero-sending {
        font-weight: 500;
        font-size: 14px;
    
       
        line-height: 1.28;
        letter-spacing: -0.02em;
        color: #fbfbfb;
}

/* ============== /MOBILE HERO ============== */

/* ============== MOBILE ABOUT ============== */

.about {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
}

.about-conteiner {
    background: #fbfbfb;
    padding: 40px 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
     margin-bottom: 40px;
}

.about-text-info {
    font-weight: 400;
    font-size: 18px; 
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 20px;
}

.about-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
    margin-bottom: 40px;
}

.about-photo {
    border-radius: 24px 24px 0 0;
    margin-top: -40px;
}

/* ============== /MOBILE ABOUT ============== */

/* ============== MOBILE OUR YACHTS ============== */

.card-benetti {
    display: none;
}

.card-belle {
    display: none;
}

.our-yachts-section {
    padding-top: 80px;
}

.conteiner-our-yachts {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
}

.our-yachts-title {
    max-width: 314px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.our-yachts-list {
    background: #fbfbfb;
    border-radius: 24px;
}

.our-yachts-images {
    padding: 16px 16px 0px 16px;
}

.yachts-info {
    padding: 32px;
}

.list-item-yachts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    position: relative;
}

.yacht-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1b414b;
}

.yacht-option-text {
        font-weight: 400;
        font-size: 12px; 
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #040306;
        opacity: 0.4;
}

.list-item-yachts::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(4, 3, 6, .1);
    left: 0;
    right: 0;
    bottom: 0;
}

.yachts-prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.yacht-prices-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.item-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
}

.yacht-prices-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.item-prices {
    font-weight: 400;
    font-size: 14px; 
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #040306;
}

.yachts-link-send {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.our-jachts-sending {
    display: flex;
    font-weight: 500;
    font-size: 14px; 
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    padding-left: 32px;
    padding-top: 14px;
    gap: 10px;
    border: 1px solid rgba(251, 251, 251, 0.35);
    border-radius: 15px;
    width: 141px;
    height: 46px;
}

/* ============== /MOBILE OUR YACHTS ============== */

/* ============== MOBILE ADVANTAGES ============== */

.section-advantages {
    padding-top: 40px;
    padding-bottom: 40px;
}

 .container-advantages{
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.advantages-list {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #1b414b;
    border-radius: 24px;
}

.list-number-advantages {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
    padding-bottom: 18px;
    border-bottom: 2px solid rgba(251, 251, 251, 0.1);
}

.text-advantages {
    font-weight: 400;
    font-size: 12px; 
    line-height: 1.16;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    opacity: 0.8;
    padding-top: 18px;
}

.advantages-item {
    width: 295px;
}

.about-image-yacht {
    border-radius: 24px;
}

/* ============== /MOBILE ADVANTAGES ============== */

/* ============== MOBILE RANT A JACHT ============== */

.rant-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.conteiner-rant {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
}

.rant-contact-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 80px;
}

.rant-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    padding-bottom: 40px;
}

.rant-input {
    display: flex;
   flex-direction: column;
   width: 100%;
   padding-bottom: 18px;
}

.rant-contact-input {
    font-weight: 400;
    font-size: 12px; 
    line-height: 1.16;
    color: rgba(251, 251, 251, 0.4);
    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding: 14px 18px;
    height: 42px;
    transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.rant-contact-input:hover {
     border: 1px solid rgba(251, 251, 251, 0.5);
     color: #fbfbfb;
}

.rant-form-wrapper {
    padding-bottom: 40px;
    width: 100%;
}

.review-form-comment {
    display: flex;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding: 14px 18px;
    width: 100%;
    height: 108px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px; 
    line-height: 1.16;
    color: rgba(251, 251, 251, 0.4);
    transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
    resize: none;
}

.review-form-comment:hover {
    border: 1px solid rgba(251, 251, 251, 0.5);
    color: #fbfbfb;
}

.review-form-submit-btn {
    font-weight: 500;
    font-size: 14px; 
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    border-radius: 15px;
    padding: 14px 44px;
    max-width: 122px;
    height: 46px;
    background: #1b414b;
    border: transparent;
}

.review-form-submit-btn:hover {
    background-color: #fbfbfb;
    color: #1b414b;
}

.about-rant-yacht {
    border-radius: 24px;
}

/* ============== /MOBILE RANT A JACHT ============== */

/* ============== MOBILE REVIEWS ============== */

.reviews-photo-1 {
    display: none;
}

.reviews-photo-2 {
    display: none;
}

.reviews-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.conteiner-reviews {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.reviews-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 25px;
}

.reviews-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    opacity: 0.4;
    margin-bottom: 40px;
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
}

.reviews-list-item {
    border-radius: 24px;
    padding: 32px 8px;
    width: 335px;
    height: 282px;
    background: #fbfbfb;
}

.reviews-list-avatar {
    margin-left: auto;
    margin-right: auto;
}

.reviews-list-fullname {
    font-weight: 500;
    font-size: 18px; 
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #040306;
    padding-top: 24px;
}

.reviews-list-text {
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);
    padding-top: 8px;
}

/* ============== /MOBILE REVIEWS ============== */

/* ============== MOBILE FOOTER ============== */

.yachtjet-footer {
    padding-top: 40px;
}

.conteiner-footer {
    border-radius: 24px 24px 0 0;
    max-width: 355px;
    background: #1b414b;
    margin-left: auto;
    margin-right: auto;
    height: 412px;
}

.footer-navigation {
    display: flex;
    padding: 40px 30px;
    justify-content: space-between;
}

.logo-footer {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #fbfbfb;
    width: 52px;
    height: 18px;
}

.footer-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    width: 206px;
    height: 40px;
}

.footer-item {
    border-radius: 8px;
    width: 66px;
    height: 40px;
    background: rgba(251, 251, 251, 0.3);
}

.footer-link {
    font-weight: 400;
    font-size: 9px; 
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    padding: 15px 12px;
    display: flex;
    justify-content: center;
}

.social-footer {
    max-width: 88px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 42px;
    margin-bottom: 42px;
}

.social-footer-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
}

.social-list-icon {
    fill: #fbfbfb;
}

.text-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 82px;
}

.main-text-footer {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    max-width: 279px;
}

.footer-copyright-list {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 20px;
        padding-left: 53px;
            padding-right: 53px;
}

.footer-copyright-list-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(251, 251, 251, 0.4);
}
/* ============== /MOBILE FOOTER ============== */


@media screen and (min-width: 768px) {

    .mobile-menu-open-btn {
        display: none;
    }

    .page-header {
        max-width: 704px;
        margin-left: auto;
        margin-right: auto;
        top: 32px;   
    }

    .container-header {
        height: 48px;
        padding: 14px 28px;
    }

    .logo-header {

        font-size: 20px;
    }

    .menu-header {
        display: flex;
        width: 281px;
        gap: 4px;
        align-items: center;
        justify-content: center;
    }

    .header-item {
        border-radius: 8px;
        width: 91px;
        height: 40px;
        background: rgba(27, 65, 75, 0.5);
    }
    

    .header-link {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 400;
        font-size: 9px; 
        line-height: 1.3;
        text-transform: uppercase;
        text-align: center;
        color: #fbfbfb;
    }

    .header-item:hover,
    .header-item:focus {
         background: #1b414b;
    }

    .page-navigation {
        width: 460px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .header-social-list {
        display: flex;
        gap: 8px;
        height: 24px;
    }

    .social-list-icon {
        fill: #1b414b;
        width: 24px;
        height: 24px;
    }

    .social-list-icon:hover,
    .social-list-icon:focus {
        fill: #062730;
    }

    /* ============== /TABLET HEADER ============== */

    /* ============== TABLET HERO ============== */

    .hero {
        max-width: 768px;
        background-image: linear-gradient(to top, rgba(17, 19, 31, 0.8), rgba(17, 19, 31, 0.31), rgba(17, 19, 31, 0)),
        url(../images/hero/hero-tab.jpg);

    }

        @media screen and (min-resolution: 192dpi) and (max-width: 1279px),
        screen and (min-resolution: 2dppx) and (max-width: 1279px),
        screen and (min-device-pixel-ratio: 2) and (max-width: 1279px) {
            .hero {
                background-image: linear-gradient(to top, rgba(17, 19, 31, 0.8), rgba(17, 19, 31, 0.31), rgba(17, 19, 31, 0)),
                    url(../images/hero/hero-tab@2x.jpg);
            }
        }

    .conteiner-hero {
        padding: 0px 32px;
    }    

    .main-title {
        font-size: 70px;
    }

    .hero-text {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 48px;
    }

    .hero-link-send {
        padding: 16px 40px;
        width: 179px;
        height: 52px;
    }

    .hero-sending {
        font-size: 18px;
        line-height: 1.1;
    }

        /* ============== /TABLET HERO ============== */

        /* ============== TABLET ABOUT ============== */
    
    .about {
        max-width: 704px;
    }
    
    .about-conteiner {
        padding: 50px 136px 50px 32px;
    }

    .about-title {
        font-size: 48px;
        margin-bottom: 50px;
    }
     
    .about-description {
        width: 389px;
        margin-right: auto;
    }
    
    .about-text-info {
        font-size: 23px;
    }

    .about-text {
        font-size: 13px;
        line-height: 1.15;
        margin-bottom: 50px;
    }

        /* ============== /TABLET ABOUT ============== */

        /* ============== TABLET OUR YACHTS ============== */

    .card-benetti {
        display: list-item;
    }

    .conteiner-our-yachts {
        max-width: 704px;
    }

    .our-yachts-title {
        font-size: 48px;
        margin-bottom: 75px;
        max-width: 645px;
    }

    .our-yachts-list {
       display: inline-flex;
       gap: 32px;
       background: none;
    }

    .our-yachts-item {
       border-radius: 24px;
       background: #fbfbfb;
    }

    .yacht-name {
        font-size: 16px;
        line-height: 1.2;
        width: 147px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .yacht-option-text {
        font-size: 13px;
        line-height: 1.18;
    }

    .yachts-link-send {
        padding-top: 50px;
        padding-bottom: 75px;
    }

    .our-jachts-sending {
        width: 179px;
        height: 52px;
        padding-left: 40px;
        padding-top: 16px;
        font-size: 18px;
        line-height: 1.1;
    }
     /* ============== /TABLET OUR YACHTS ============== */

     /* ============== TABLET ADVANTAGES ============== */

     .section-advantages {
        padding-top: 75px;
        padding-bottom: 75px;
    }

     .container-advantages {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        gap: 32px;
     }

     .advantages-item {
        width: 304px;
     }

     .advantages-list {
        padding: 90px 32px;
        gap: 44px 32px;
        flex-wrap: wrap;
        flex-direction: row;
     }

     .list-number-advantages {
        font-size: 32px;
     }

     .text-advantages {
        font-size: 13px;
        line-height: 1.15;
     }
     
     /* ============== /TABLET ADVANTAGES ============== */

     /* ============== TABLET RANT A JACHT ============== */

     .rant-section {
        padding-top: 75px;
        padding-bottom: 75px;
     }

     .conteiner-rant {
        max-width: 473px;
     }

     .rant-title {
        font-size: 48px;
        padding-bottom: 50px;
     }

     .rant-contact-input {
        padding: 18px;
        height: 54px;
        font-size: 14px;
        line-height: 1.28
     }

     .rant-picture {
        display: flex;
        justify-content: center;
     }

     .review-form-comment {
        height: 116px;
        padding: 18px;
        font-size: 14px;
        line-height: 1.28
     }

     .review-form-submit-btn {
        padding: 18px 75px;
        max-width: 194px;
        height: 56px;
        font-size: 18px;
        line-height: 1.1;
     }

     /* ============== /TABLET RANT A JACHT ============== */

     /* ============== TABLET REVIEWS ============== */

     .reviews-photo-1 {
        display: block;
     }

     .reviews-section {
        padding-top: 75px;
        padding-bottom: 75px;
     }

     .conteiner-reviews {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
     }

     .reviews-title {
        font-size: 48px;
        max-width: 704px;
     }

     .reviews-text {
        font-size: 14px;
        line-height: 1.28;
        max-width: 571px;
        margin-bottom: 75px;
     }

     .reviews-list {
        display: flex;
        gap: 32px;
     }

     /* ============== /TABLET REVIEWS ============== */
}

@media screen and (min-width: 1280px) {
    .page-header {
        max-width: 1080px;
    }

    .page-navigation {
        width: 675px;
    }

    .logo-header {
        padding-left: 30px;
    }

    /* ============== /DESKTOP HEADER ============== */

    /* ============== DESKTOP HERO ============== */

    .hero {
        max-width: 1280px;
        background-image: linear-gradient(to top, rgba(17, 19, 31, 0.8),
                rgba(17, 19, 31, 0.31),
                rgba(17, 19, 31, 0)),
                url(../images/hero/hero-desk.jpg);
    }

        @media screen and (min-resolution: 192dpi) and (max-width: 1439px),
        screen and (min-resolution: 2dppx) and (max-width: 1439px),
        screen and (min-device-pixel-ratio: 2) and (max-width: 1439px) {
            .hero {
                background-image: linear-gradient(to top, rgba(17, 19, 31, 0.8), rgba(17, 19, 31, 0.31), rgba(17, 19, 31, 0)),
                    url(../images/hero/hero-desk@2x.jpg);
            }
        }

    .conteiner-hero {
        padding: 0px 140px;
    }
    
    .main-title {
        font-size: 80px;
    }

    .hero-text {
        width: 597px;
    }

    /* ============== /DESKTOP HERO ============== */

    /* ============== DESKTOP ABOUT ============== */

    .about {
        max-width: 1180px;
    }

    .about-conteiner {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 50px;
        gap: 189px;
    }

    .about-title {
        width: 537px;
    }

    .about-description {
        width: 354px;
       
    }

    /* ============== /DESKTOP ABOUT ============== */

    /* ============== DESKTOP OUR YACHTS ============== */

    .card-belle {
        display: list-item;
    }

    .our-yachts-section {
        padding-top: 150px;
    }

    .conteiner-our-yachts {
        max-width: 1180px;
        
    }

    .our-yachts-title {
        max-width: 714px;
    }

    .our-yachts-list {
        gap: 25px;
    }

    /* ============== /DESKTOP OUR YACHTS ============== */

    /* ============== DESKTOP ADVANTAGES ============== */

    .container-advantages {
        max-width: 1280px;
        display: flex;
        flex-direction: row;
    }

    .advantages-list {
        padding: 90px 50px;
        gap: 44px;
    }

    .advantages-item {
        width: 292px;
    }

    /* ============== /DESKTOP ADVANTAGES ============== */

    /* ============== DESKTOP RANT A JACHT ============== */

    .conteiner-rant {
        max-width: 1280px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 32px;
        gap: 50px;
    }

    .rant-contact-form {
        flex-wrap: wrap;
        flex-direction: row;
    }

    /* ============== /DESKTOP RANT A JACHT ============== */

    /* ============== DESKTOP REVIEWS ============== */

    .reviews-photo-2 {
        display: block;
    }

    .conteiner-reviews {
        max-width: 1280px;
    }

    .reviews-title {
        max-width: 854px;
        margin-left: auto;
        margin-right: auto;
    }

    .reviews-list {
        justify-content: space-between;
    }

    .reviews-list-item {
        padding: 32px 28px;
        width: 376px;
        height: 282px;
    }

    /* ============== /DESKTOP REVIEWS ============== */
}

@media screen and (min-width: 1440px) {
    .page-header {
        max-width: 1240px;
    }

        
    .page-navigation {
        width: 750px;
    }

    /* ============== /DESKTOP HEADER ============== */

    /* ============== DESKTOP HERO ============== */

    .hero {
        max-width: 1440px;
        background-image: linear-gradient(to top, rgba(17, 19, 31, 0.8),
                    rgba(17, 19, 31, 0.31),
                    rgba(17, 19, 31, 0)),
                url(../images/hero/hero-desk-big.jpg);
    }
    
        @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
        screen and (min-resolution: 2dppx) and (min-width: 1440px),
        screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
            .hero {
                background-image: linear-gradient(to top, rgba(17, 19, 31, 0.8), rgba(17, 19, 31, 0.31), rgba(17, 19, 31, 0)),
                    url(../images/hero/hero-desk-big@2x.jpg);
            }
        }

        /* ============== /DESKTOP HERO ============== */

        /* ============== DESKTOP ABOUT ============== */

        .about {
            max-width: 1340px;
        }

        .about-conteiner {
            gap: 299px;
        }

        .about-description {
            width: 404px;
        }

        /* ============== /DESKTOP ABOUT ============== */

        /* ============== DESKTOP OUR YACHTS ============== */

        .conteiner-our-yachts {
            max-width: 1240px;
        }

        /* ============== /DESKTOP OUR YACHTS ============== */

        /* ============== DESKTOP ADVANTAGES ============== */

        .container-advantages {
            max-width: 1440px;
            justify-content: space-between;
            padding-left: 50px;
            padding-right: 50px;
        }

        .advantages-item {
            width: 318px;
        }

        .advantages-list {
            width: 768px;
            gap: 44px 32px;
        }

        /* ============== DESKTOP ADVANTAGES ============== */

        /* ============== DESKTOP RANT A JACHT ============== */

        .conteiner-rant {
            max-width: 1440px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .rant-input {
            width: 472px;
        }

        .rant-form-wrapper {
            width: 472px;
        }

        /* ============== /DESKTOP RANT A JACHT ============== */

        /* ============== DESKTOP REVIEWS ============== */

        .conteiner-reviews {
            max-width: 1240px;
        }

        /* ============== /DESKTOP REVIEWS ============== */
}